#main {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    background-color: rgb(214, 217, 219);
    margin: 30px 5px;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    }

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

p {
    font-size: 1.5rem;
}

#figcaption {
    background-color: white;
    padding: 5px 10px;
    margin: 10px;
}

#name {
    max-width: 100%;
    padding: 0.5rem;
}

#img-caption {
    font-size: 1rem;
}

#tribute-info {
    font-size: 2rem;
}

#award {
    margin: 2rem auto;
    background-color: white;
}

#award_vid {
    margin: 0.5rem auto;
}

ul {
    font-size: 1.5rem;
    text-align: left;
    margin: 20px auto;
    max-width: 600px;
    line-height: 2rem;
}

li {
    padding: 2% 0;
}

blockquote {
    margin: 0 5%;
    margin: 5% auto;
    max-width: 600px;
}

blockquote p {
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
}

h3 {
    padding: 2%;
    font-size: 1.5rem;

}
